*.sdf
*.suo
*.opensdf
*.opendb
*.bak
*.aps
*.VC.db
*.log
*.h.gch
*.pch
*.user
/bin/
/bin32/
/innative/x64/
/innative-env/x64/
/innative-cmd/x64/
/innative-test/x64/
/innative-loader/x64/
/innative-stub/x64/
/.vs/