*.sdf
*.suo
*.opensdf
*.opendb
*.bak
*.aps
*.VC.db
*.log
*.h.gch
*.pch
*.user
*.llvm
*.dll
*.lib
*.exe
*.pdb
*.zip
*.tar.gz
/bin/
/bin-Win32/
/innative/x64/
/innative-env/x64/
/innative-assemblyscript/x64/
/innative-cmd/x64/
/innative-test/x64/
/innative-test-embedding/x64/
/innative-loader/x64/
/innative-stub/x64/
/innative/Win32/
/innative-env/Win32/
/innative-assemblyscript/Win32/
/innative-cmd/Win32/
/innative-test/Win32/
/innative-test-embedding/Win32/
/innative-loader/Win32/
/innative-stub/Win32/
/innative-runtime-setup/obj/
/innative-sdk-setup/obj/
/innative-sdk-setup/IncludeFileList.wxs
/innative-sdk-setup/ScriptFileList.wxs
/innative-sdk-setup/CoreFileList.wxs
/.vs/